main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.generation_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.code_type_option {
  color: white;
  font-size: 20px;
  border-radius: 16px;

  &[aria-invalid="true"] {
    outline: 3px solid rgba(255, 0, 0, .7);
  }

  label {
    background-color: rgb(87, 87, 87);
    cursor: pointer;
    padding: 8px 16px;
    display: inline-block;

    &:first-of-type {
      border-radius: 16px 0 0 16px;
      border-right: 1px solid white;
    }

    &:last-of-type {
      border-radius: 0 16px 16px 0;
    }

    input {
      visibility: hidden;
      width: 0;
      margin: 0;
    }

    &:has(input:checked) {
      background-color: rgb(70, 70, 70);
    }
  }
}

.url_input {
  width: 240px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid black;
  font-size: 20px;

  &:focus {
    outline: none;
  }

  &[aria-invalid="true"] {
    outline: 3px solid rgba(255, 0, 0, .7);
  }
}

.submit_button {
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: rgb(87, 87, 87);
  color: white;
  cursor: pointer;
}

.generated_code svg {
  max-width: 100%;
}
